*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    width: 100vw;
    font-size: 20px;
    background: linear-gradient(to right, #bfe6ec, rgb(246, 209, 215));
}

.main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 60%;  
    margin: 2rem auto;
    background-color:whitesmoke;
    line-height: 1.4rem;
}

.o-list{
    text-decoration: none;
    list-style: none;
}

.div-properties{
    margin-bottom: 1rem;
    border: 1px solid gray;
    padding: 1rem 2rem;
    box-shadow: 5px 5px 4px gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(232, 243, 241);
}

.div-properties > div {
    padding: 1rem 1rem;
    border-bottom: 3px solid gainsboro;
}

.span-heading{
    display: block;
    margin-bottom: 1.3rem;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}


 