*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

table{
    width: 95%;
    margin: auto;
    border-spacing: 1rem;
    background-color: antiquewhite;
}

th{
    border-left: 2px solid turquoise;
    border-radius: 20%;
    
}

