* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 20px;
}

#d-main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: rgb(228, 238, 247);
  margin: auto;
  width: 96%;
  border: 1px solid rgb(99, 96, 96);
}

#d-heading {
  position: sticky;
  top: 0;
  background-color: black;
  font-size: 2rem;
  font-family: 700;
  color: white;
  padding: 0.6rem 1rem;
  text-align: center;
}

#d-index {
  border: 2px solid black;
  padding: 2rem 0;
  margin: auto 0.5rem;
}

#d-index > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

#d-index > ul > li {
  background-color: rgb(145, 51, 233);
  color: aliceblue;
  font-family: 700;
  font-size: 1.5rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

#d-show-topic {
  padding: 1rem;
  color: black;
}

#d-show-topic iframe {
  width: 100%;
  height: 15rem;

  border: none;
  display: block;
}
