@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-size: 1.5vw;
  background: linear-gradient(to right, rgb(197, 197, 243), rgb(240, 188, 188));
  font-family: "Science Gothic", sans-serif;
}

.d-content {
  margin: 0 10% 1rem;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  margin: 0.5rem 0.2rem auto;
  background-color: black;
  color: white;
  padding: 0.2rem 1rem;
  text-align: center;
}

/*d-demonstration*/

.d-demonstration {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.d-try {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.dt {
  padding: 1rem;
  width: 40%;
  height: 25vw;
}

/*d-demonstration -> input*/

.d-input {
  background-color: rgb(44, 43, 43);
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  color: aliceblue;
  height: auto;
  font-size: 0.8rem;
}

.d-input span {
  display: block;
}

.d-input-items {
  border: 1px solid rgb(198, 197, 241);
  padding: 0.2rem 0.4rem;
  cursor: pointer;
}

/*d-demonstration -> Output*/

.d-output {
  border: 1px solid rgb(239, 200, 200);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  color: black;
  font-size: 0.9rem;
}

.d-para {
  padding: 0.2rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.d-para p, .d-para .box{
    margin-bottom: 1rem;
}

.box {
  width: 60px;
  height: 60px;
  display: inline-flex; /* instead of inline-block */
  justify-content: center; /* horizontal center */
  align-items: center;
}

.box-1 {
  background-color: green;
}
.box-2 {
  background-color: blue;
}
.box-3 {
  background-color: red;
}

/* JS CLASSES*/

#p-static {
  position: static;
}

#p-relative {
  position: relative;
  top: 40px;
  left: 40px;
}

#p-absolute {
  position: absolute;
  inset-inline-start: 40px;
  inset-block-start: 40px;
}

#p-fixed {
  position: fixed;
  top: 100px;
  right: 0px;
}

#p-sticky {
  position: sticky;
  top: 50px;
  left: 90px;
}
