::-webkit-scrollbar {
  width: 0.4rem; /* vertical scrollbar */
  height: 0.5rem; /* horizontal scrollbar */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: rgb(195, 195, 210);
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1.7vw;
  background: linear-gradient(to left, rgb(248, 218, 218), rgb(200, 200, 252));
  line-height: 1.2rem;
}

.main {
  width: 90%;
  margin: auto;
  background: white;
  min-height: 100vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-size: 2rem;
}

.d-heading {
  box-shadow: 0px 5px 10px gray;
  position: sticky;
  top: 0.1rem;
}

.d-heading h1 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.7rem;
}

/* Side Menu*/

.side-menu {
  position: fixed;
  top: 25%;
  right: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.side-menu div {
  display: inline-block;
  font-size: 3rem;
  cursor: pointer;
}

/* Commaon main > d  */
.d {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(229, 224, 224);
  padding: 1rem;
  box-shadow: 0px 0px 7px 2px gray;
}

.d > h2 {
  margin-bottom: 1rem;
  border-bottom: 3px solid gray;
  padding-bottom: 0.4rem;
}

/*introduction*/

.d-introduction {
}

.d-introduction > ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1.5rem;
}

/* Transition */

.d-transition {
}

.d-transition > ol > li > span {
  font-weight: 700;
  color: rgb(80, 26, 131);
  border-bottom: 1px solid gray;
  padding-bottom: 0.1rem;
}

.d-transition ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.3rem;
  margin-top: 0.4rem;
}

.d-transition ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1.5rem;
}

/* Implementation */

.d-implementation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.d-implementation > ul {
  margin-left: 1.5rem;
  list-style-type: none;
  padding: 1rem;
  border: 1px solid gray;
}

.example {
  transition: width 2s ease-out 0.2s;
  width: 2rem;
  height: 2rem;
  background-color: black;
  margin: 2rem 0;
  margin-left: 1.6rem;
  outline: 1px solid green;
  position: relative;
  top: 0;

  display: flex;
  align-items: center;
  cursor: pointer;
}

.example:hover {
  width: 95%;
  background: linear-gradient(to left, rgb(238, 205, 205), rgb(211, 211, 247));
}

.example span {
  opacity: 1;
  transition: opacity 0.2s ease 0.5s;
}

.example:hover span {
  opacity: 0;
}

#arrow {
  position: absolute;
  left: 4rem; /* initial positioning */
  font-size: 1.5rem;

  animation-name: arrow-move;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes arrow-move {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(2rem);
  }
  30% {
    transform: translateX(1rem);
  }
  70% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(-1rem);
  }
}
