* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
  height: auto;
}

button {
  padding: 0.2rem 1rem;
}

.d-flex {
  display: flex;
  width: 100%;
  padding: 1rem;
}

#d-output {
  width: 20%;
  background-color: rgb(68, 68, 68);
  color: white;
  padding: 1rem 0.7rem;
  margin: 0rem 0.5rem;
  position: fixed;
  right: 0px;
  height: 95vh;
}

#d-output h5 {
  margin-bottom: 1rem;
  text-align: center;
  border: 1px solid white;
  padding: 0.2rem 1rem;
}

#flex1 {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid gray;
  padding: 1rem 0.5rem;
}

#flex1 > div {
  padding: 1rem;
  border-bottom: 2px solid gray;
}

/*********************************************/

li > ul {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.d-mouce2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.d-mouce2 div {
  height: 3rem;
  padding: 1rem;
  text-align: center;
  width: 40%;
  background-color: aquamarine;
  margin: 1rem;
}

/****************/


.login{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-75%, -50%);
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 1rem;
  outline: 1px solid black;
  outline-offset: 3px;
}

.btn{
  transform: scale(0.8);
  color: blue;
}