* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

html {
  width: 100vw;
  font-size: 1vw;
}

.d-display {
  width: 100%;
  overflow-y: auto;
  background: url(./images/car.jpg) no-repeat center center fixed;
  background-size: cover;
}

.d-title {
  width: 35%;
  overflow: hidden;
  color: black;
  position: absolute;
  top: 5%;
  left: 15%;
}

.d-title {
  text-shadow: 1rem 0.8rem 5px rgb(71, 71, 2, 0.4);
  border-bottom: 5px solid black;
}

.d-title > h1 {
  font-size: 5rem;
}

.d-search {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 1000;
}

.d-search input {
  width: 20rem;
  height: 2.6rem;
  font-size: 1.8rem;
  padding: 0.1rem 0.6rem;
  background-color: black;
  color: white;
}

.d-search button {
  width: 7rem;
  height: 2.6rem;
  font-size: 1.8rem;
  background-color: rgb(8, 7, 7);
  color: white;
  border: 1px solid rgb(156, 123, 13);
  cursor: pointer;
}

.d-text {
  padding: 1rem 3rem;
  margin: 100vh 2rem 25px 2rem; /* move it down naturally */
  font-size: 2rem;
  color: aliceblue;
  background-color: rgba(59, 59, 58, 0.8);
  text-wrap: wrap;
}

.d-text h1 {
  color: rgb(0, 0, 0);
}
