* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  line-height: 1.7rem;
}

body {
  background: linear-gradient(to left, rgb(244, 208, 208), rgb(214, 214, 245));
}

.d-main {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
}

.d-main > h1 {
  background-color: black;
  color: white;
  padding: 1.5rem;
  text-align: center;
  font-size: 3.5rem;
  position: sticky;
  top: 0.1rem;
  box-shadow: 0 5px 10px 0 rgb(149, 148, 147);
}

.index {
  background-color: rgb(92, 97, 100);
  color: white;
  font-size: 1.5rem;
  padding: 1rem 3rem;
}

.index a {
  text-decoration: none;
  color: aliceblue;
}

.index a:hover {
  text-shadow: 0px 0px 2px rgb(52, 35, 234);
  text-decoration: underline;
}

/* content  */

.content {
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 3px 5px 5px 2px gray;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content > h2{
    text-align: center;
    text-shadow: 0px 0px 2px rgb(234, 176, 176);
    background-color: rgb(61, 60, 60);
    color: white;
    padding: 0.7rem;
    margin-bottom: 1rem;
}

.content > h3 {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.9rem;
}

.content ul {
    margin-bottom: 1rem;
}

#example {
  margin-bottom: 1rem;
}

.direction{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid black;
    padding-top: 0.5rem;
}



.direction pre {
    background-color: rgb(214, 205, 205);;
    padding: 1rem;
}


.box-container1{
    display: flex;
    gap: 0.5rem;
    background-color: rgb(178, 167, 167);
    padding: 0.7rem 1rem;
}

.box-container2{
    display: flex;
    flex-direction: column;
    min-height: 15rem;
    gap: 0.5rem;
    background-color: rgb(178, 167, 167);
    padding: 0.7rem 1rem;
}

.box-container3{
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    background-color: rgb(178, 167, 167);
    padding: 0.7rem 1rem;
}

.box-container4{
    min-height: 15rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    background-color: rgb(178, 167, 167);
    padding: 0.7rem 1rem;
}

.box{
    width: 2rem;
    height: 2rem;
    background-color: rgb(82, 72, 72);
}




